 
body {
    background-color: #6A9C89;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

#display-ballons {
height: 50vh;
background-image: url('./wall.png');
width: 50vw;
background-color: aqua;
position: relative; 
overflow: hidden;  
}

.balloon {

font-size: 4em;
background-color: transparent;
cursor: pointer;
user-select: none;
scale: 1;


}
@media screen and (max-width:412px) , (min-width:350px) {
#display-ballons {
width: 90vh;
} 
.btns{
margin-top: 20px;

}

}




    